doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lexus E-Commerce
    // CSS
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/css/form-elements.css')
    link(rel='stylesheet', href='assets/css/style.css')

  body
    != messages('message', locals)
    block content
   
    // Footer
    footer
      .container
        .row
          .col-sm-8.col-sm-offset-2
            .footer-border
            p
              | Made by Blockchain Cadets of 
              strong Unionbank.
              |         			
              
    // Javascript
    script(src='assets/js/jquery-1.11.1.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/jquery.backstretch.min.js')
    script(src='assets/js/scripts.js')
    script(src='axios.min.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')
